@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #031c1b;
    --background: #edfdfd;
    --primary: #5b095d;
    --secondary: #a2f6f4;
    --accent: #bbb511;
  }
  .dark {
    --text: #e3fcfb;
    --background: #021212;
    --primary: #f4a2f6;
    --secondary: #095d5b;
    --accent: #eee844;
  }

  body {
    background-color: var(--background);
    color: var(--text);
  }

  .dark input {
    color: #000;
  }
}
